body { 
	background-color: green; width: 100%; height: 100%; overflow: hidden;

	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(#320043,black, black);

	margin:0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: none;

}

body::after{
	position: absolute; width: 0; height: 0; overflow: hidden; z-index: -1;
	content: url("b3e.gif") url("b3e.svg");
}

.glow {  opacity: 0; transition: opacity 2s ease; }


.container {
	min-height:100%; width:100%; display:flex;

	animation: fadein 5s; 
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;

}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.s { height:auto; display: block; margin: auto; vertical-align:middle; }

.bPixClip {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	clip-path: url(#bClip);
}

.b3e { pointer-events: none; }
.shine { filter: url(#shineFilter); opacity: 0; transition: opacity 2s ease; }
.threeE { filter: url(#blurFilter); }


.bg{
	height:100%; 
	width:100%; 
	position:absolute; 
	top:0; 

	background:linear-gradient(#23002f, black, black); 

	pointer-events:none; 
	z-index:-1; 

	opacity:0; transition: opacity 2s ease;
}

.container {width:100%;}

.glow {  opacity: 0; transition: opacity 2s ease; }


@media (orientation: landscape) { .s { width: 25%; }}

@media (pointer: fine) { 
	.trigger:hover ~ .b3e .glow2 { opacity: 1; } 
}

@media (hover: none) {
	.container:active .b3e .glow2 { opacity: 1; } 
	.container:active ~ .bg { opacity:1; }

	.container:active .glitchOn { opacity: 1; }  
	.container:active .glitchOff { opacity: 0; } 

	@media (orientation: portrait){ .s { width: 50%; } }
}

@-moz-document url-prefix() {
	@media (-moz-touch-enabled:0) { 
	.trigger:hover ~ .b3e .glow2 { opacity: 1; } 
	}

	@media (-moz-touch-enabled:1) { 
		.container:active .b3e .shine { opacity: 1; } 
		.container:active ~ .bg { opacity:1; }

		.container:active .b3e .glitchOn { opacity: 1; }  
		.container:active .b3e .glitchOff { opacity: 0; } 

		@media (orientation: portrait){ .s { width: 50%; } }
	}
}

.glow {  opacity: 0; transition: opacity 2s ease; }

